body {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1b1b1b;
}

#imgContainer {
    width: 95%;
    min-height: 100px;
    padding: 30px;
    border: 10px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
}

#imageLink {
    max-width: 18%;
    margin: 10px;
    height: fit-content;
}

#imgContainer img {
    width: 100%;
}

form,
form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#imgForm {
    min-width: 25%;
    border: 5px solid lightgray;
    border-radius: 50px;
}

form * {
    margin: 5px;
    width: 90%;
    text-align: center;
}

#imgForm {
    margin: 10px;
}

label, h1 {
    border: 0;
    padding: 0;
    color: lightgray;
}

input, select, button{
    background-color: #1b1b1b;
    color: darkgray;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#per_page, #size, #sort, button{
    width: 25%;
}

#search{
    width: 50%;
}
